.application-page {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}
.application-column{
  display:flex;
  flex-direction: row;
}
