.phrase-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  .phrase-bar-item{
    padding:0 10px 0 10px;
    margin-right: 5px;
    border-radius:10px;
    text-align: center;
    color:white;
  }
  .actived {
    background-color: #85c658;
  }
  .inactive {
    background-color: #cccccc;
  }
  .active{
    background-color:#666666;
  }
}

.audit-application{
  flex: 1;
  background-color: #d0d0d0;
  padding:10px;
  max-height: 80%;
  overflow: scroll;
}
