.supplier-interface {}

.performance-container {
    display: flex;
    flex-direction: row;
    // margin-bottom: 30px;
}

.supplier-map {
    flex: 1;

    div {}
}

.performance-row {}

.supplier-bar {
    display: flex;
    flex-direction: row;
}

.supplier-category {
    flex: 1;
    display: flex;
    flex-direction: row;
    right: 0;
    justify-content: space-between;

    .supplier-category-item {
        padding: 5px;
        cursor:pointer;
    }
    .selected {
        background-color: #5b919d;
        color:white;
        font-style: oblique;
        transition: 0.5s ease-in;
    }
}

.current-performance {
    flex: 1;

    .performance-row {
        display: flex;
        flex-direction: row;

        p {
            width: 150px;
            text-align: right;
            margin-right: 30px;
        }
    }

    h3 {
        text-align: center;
    }
}

.performance-bar {
    padding: 18px 0;
    background-clip: content-box;
    transition: 0.5s ease;
}

.current-rating {
    display: flex;
    flex-direction: row;

    h3 {
        text-align: center;
        margin-top: 50px;
    }

    div {
        margin-right: 30px;
    }
}

.supplier-list {
    max-height: 150px;
    overflow: scroll;
}

.supplier-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    border-left-width: 7px;
    border-left-style: solid;
    justify-content: center;
    align-items: center;
    div {
        margin: 0 10px;
    }

    .code {
        min-width: 90px;
        text-align: center;
        border-style: solid;
        border-width: thin;
        border-radius: 40%;
    }
}

.expired {
    color: crimson;
    font-size: 1.5em;
}
